.online-status {
	display: flex;
	align-items: center;
	position: absolute;
	right: 25px;
	bottom: 10px;
	span {
		background-color: #64C111;
		width: 18px;
		height: 18px;
		border-radius: 100%;
		display: inline-block;
		margin-right: 5px;
	}
	p {
		display: inline-block;
		margin: 0;
		font-size: 28px;
		font-family: Roboto;
		font-weight: 400;
		letter-spacing: 0;
		color: #FFFFFF;
	}
}
.user-card {
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 10px 30px #00000026;
	border-radius: 10px;
	margin-bottom: 50px;

	.card-bg {
		height: 308px;
		width: 100%;
		background: url(../images/card-4.png) no-repeat center;
		background-size: cover;
		border-radius: 10px;
		margin-bottom: 15px;

	}
	h3 {
		font-size: 28px;
		font-weight: 400;
		font-family: Roboto, serif;
		letter-spacing: 0;

		a {
			cursor: pointer;
			color: #331A70;

		}
		& :hover {
			text-decoration: none;
		}
	}
	.rating {
	}
	p {
		font-size: 15px;
		font-weight: 400;
		font-family: Roboto, serif;
		text-align: center;
		letter-spacing: 0;
		color: #9B9B9B;
		padding-bottom: 30px;
	}
}
.rating {

	> span {
		&:hover {
			&:before {
				content: "\2605";
				position: absolute;
				cursor: pointer;
				content: "\2605";
				position: absolute;
				color: #FFC400;
			}
			~ span:before {
				cursor: pointer;
				content: "\2605";
				position: absolute;
				color: #FFC400;
			}
		}
		position: relative;
		display: inline-block;
		width: 30px;
		font-size: 30px;
		line-height: 24px;
		color: #B4B4B4;
	}

		unicode-bidi: bidi-override;
		direction: rtl;
		margin-bottom: 5px;

}
.rating.heart {
	> span {
		&:hover {
			&:before {
				content: "\f08a";
				position: absolute;
				color: #FFC400;
			}
			~ span:before {
				content: "\f08a";
			}
		}
	}
}
.category-card {
	background-color: #fff;
	border-radius: 10px;
	border: 1px solid #eee;
	margin-bottom: 40px;
	.layer {
		background-color: rgba(51, 26, 112, 0.7);
		border-radius: 10px 10px 0 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.card-bg {
		background: url("../images/category-card.png") no-repeat center center;
		position: relative;
		background-size: cover;
		height: 240px;
		border-radius: 10px 10px 0 0;
		.a {
			background: url("../images/category-card2.png") no-repeat center center;
		}
	}
	//Extra Classes form just UI Structure

	.card-bg.a {
		background: url("../images/category-card2.png") no-repeat center center;
		background-size: cover;
	}
	.card-bg.b {
		background: url("../images/category-card3.png") no-repeat center center;
		background-size: cover;
	}
	.card-bg.c {
		background: url("../images/category-card4.png") no-repeat center center;
		background-size: cover;
	}

	//Extra Classes form just UI Structure
	h2 {
		padding: 5px 0;
		font-size: 36px;
		font-weight: 500;
		font-family: Roboto;
		letter-spacing: 0;

		text-shadow: 0px 10px 30px #00000026;
		a {
			color: #331A70;
		}
		& :hover {
			color: #331A70;
			text-decoration: none;
		}
	}
}
.blog-card {
	min-height: 400px;
	box-shadow: 0px 10px 30px #00000026;
	border-radius: 10px;
	padding: 50px 60px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 40px;

	.media {
		h5 {
			font-size: 16px;
			font-family: Roboto, serif;
			font-weight: bold;
			letter-spacing: 0;
			color: #331A70;
		}
	}
	p {
		font-size: 18px;
		font-family: Roboto, serif;
		font-weight: 400;
		letter-spacing: 0;
		color: #9B9B9B;
	}
	a {
		font-size: 18px;
		font-family: Roboto, serif;
		font-weight: 400;
		letter-spacing: 0;
		color: #2C99ED;
		border-bottom: 2px solid rgba(44, 153, 237, 0.7);
	}
	&.bg-placeholder {
		.media {
			h5 {
				color: #fff;
			}
		}
		h2 {
			font-size: 48px;
			font-family: Roboto, serif;
			font-weight: 500;
			letter-spacing: 0;
			color: #FFFFFF;
		}
		background: url("../images/blog-bg.png") no-repeat center center;
		background-size: cover;
		p {
			color: #fff;
		}
		a {
			color: #fff;
			border-bottom: 2px solid rgba(44, 153, 237, 0.7);
		}
	}
}
.client-card {
	text-align: center;
	padding: 40px 40px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 10px 30px #00000026;
	border-radius: 10px;
	margin-bottom: 40px;
	.client-avatar {
		position: relative;
		display: inline-block;
		img {
			width: 78px;
			height: 78px;
			border-radius: 50%;
			margin-bottom: 45px;
		}
		span {
			position: absolute;
			top: 26px;
			right: -8px;
			img {
				margin: 0;
				width: 20px;
				height: 20px;
			}

		}
	}

	p {
		font-family: Roboto, serif;
		font-size: 18px;
		font-weight: 400;
		letter-spacing: 0;
		line-height: 28px;
		margin-bottom: 24px;
		color: #9B9B9B;
	}
	h3 {
		font-family: Roboto, serif;
		font-size: 24px;
		font-weight: 500;
		letter-spacing: 0;
		color: #331A70;
		margin-bottom: 5px;
	}
	label {
		font-family: Roboto, serif;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0;
	}

	&.bg-white {
		p, label {
			color: #9B9B9B;
		}
		h3 {
			color: #331A70;
		}
	}
	&.bg-primary {
		p, h3, label {
			color: #FFFFFF;
		}
	}
	&.bg-dark {
		h3 {
			color: #fff;
		}
		p, label {
			color: #9B9B9B;
		}

	}
}

//consultant page Styling start
.consultant-page {
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 10px 30px #00000026;
	border-radius: 10px;
	margin-bottom: 50px;
	.consult-banner {
		position: relative;
		background: url("../images/consult-banner.jpg") no-repeat center center;
		background-size: cover;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		height: 395px;
	}
	.banner-bar {
		background: #331A70 0% 0% no-repeat padding-box;
		height: 80px;
	}
	.consult-img {
		img {
			max-width: 284px;
			width: 100%;
		}
	}
	.consult-container {
		padding-right: 15px;
		padding-left: 15px;
		max-width: 980px;
		width: 100%;
		margin: -182px auto 0;
	}
}
//consultant page Styling End

@media (max-width: 1440px) {
	body {
		background-position-y: -60px;
	}
	.container {
		max-width: 1200px;
	}
	.banner-area {
		.banner-lead {
			margin-top: 110px;
		}
	}
}
@media (max-width: 1030px) {
	body {
		background-position-y: 0;
	}
	.user-card {
		margin-bottom: 30px;
		h3 {
			font-size: 24px;
		}
		p {
			font-size: 13px;
		}
	}
	.category-card {
		margin-bottom: 30px;
		h2 {
			font-size: 26px;
		}
	}
	.blog-card {

	}
	.blog-card p {
		font-size: 16px;
	}
	.blog-card.bg-placeholder h2 {
		font-size: 30px;
	}
	.client-card p {
		font-size: 16px;
	}
	.client-card h3 {
		font-size: 20px;
	}
}
@media (min-width: 992px) {
}
@media (max-width: 768px) {
	.online-status p {
		font-size: 22px;
	}
	.consultant-page {
		.consult-banner {
			height: 270px;
		}
		.consult-img {
			img {
				max-width: 140px;
				width: 100%;
			}
		}
		.consult-container {
			margin: -110px auto 0;
		}
		.rating > span {
			width: 15px;
			font-size: 20px;
		}

	}

}
@media (max-width: 767px) {
	.online-status p {
		font-size: 18px;
	}
	.consultant-page {
		.consult-banner {
			height: 175px;
		}
		.consult-img {
			img {
				max-width: 110px;
				width: 100%;
			}
		}
		.consult-container {
			margin: -80px auto 0;
		}
		.rating > span {
			width: 15px;
			font-size: 20px;
		}
		.banner-bar {
			background: #331A70 0% 0% no-repeat padding-box;
			height: 50px;
		}
		button.banner-bar-btn {
			font-size: 12px;
		}

	}
}
@media (max-width: 375px) {
}
@media (max-width: 325px) {

}
