//https://xd.adobe.com/view/2b0f3c51-744a-4ebc-4c3f-86e64b1940ee-5d3e/screen/a9b068b3-1829-4755-81c3-be72ec86eb99/Homepage/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
html {
	height: 100%;
}
body {
	position: relative;
	background: url(../images/body-bg.png) no-repeat;
	background-size: cover;
	background-position-y: -250px;
	&.mini-bg {
		background: url(../images/bckgrnd-2.png) no-repeat;
		background-position-y: -250px;
		background-size: cover;
	}
}
input:focus, select:focus, .btn {
	outline-offset: 0;
	outline: none;
	box-shadow: none !important;
	border: none;
}
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	/* Some browsers will not display the caret when using calc, so we put the fallback first */
	background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat 98.5% !important; /* !important used for overriding all other customisations */
	background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat calc(100% - 10px) !important; /* Better placement regardless of input width */
}
/*For IE*/
select::-ms-expand { display: none; }
a:hover {
	text-decoration: none;
}
button:focus {
	outline: none;
}
.bg-blue {
	background-color: #331A70;
}
.text-blue {
	color: #331A70;
}
.container {
	max-width: 1400px;
}
.navbar {
	padding: 40px 20px 20px 20px;
}
.navbar-expand-lg {
	position: relative;
	z-index: 9;
}
.navbar-brand {
	img {
		max-width: 170px;
	}
}
.navbar-light .navbar-toggler {
	color: #331A70;
	border: none;
	padding: 0;
	font-size: 14px;
	span {
		background-image: none;
	}
}
.navbar-light .navbar-nav .nav-link {
	font: Bold 16px/18px Roboto;
	letter-spacing: 0;
	color: #331A70;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
	font: Bold 16px/18px Roboto;
	letter-spacing: 0;
	color: #331A70;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
	color: #331A70;
}
.section-title {
	h2 {
		font-family: Roboto, serif;
		font-size: 44px;
		font-weight: 500;
		margin-bottom: 10px;
		letter-spacing: 0;
		color: #331A70;
	}
	p {
		font-family: Roboto, serif;
		font-size: 28px;
		font-weight: 400;
		line-height: 30px;
		letter-spacing: 0;
		color: #161616;
	}
	.tag-line {
		font-family: Roboto, serif;
		font-size: 28px;
		font-weight: 400;
		letter-spacing: 0;
		color: #2C99ED;
	}
}
	.section-separator {
		margin-bottom: 50px;
		&.mini-border {
			max-width: 461px;
			width: 100%;
			padding: 0 15px;
			margin: 25px auto;
		}
	}

.banner-area {
	min-height: 605px;
	&.without-slider {
		min-height: 450px;
		display: flex;
		align-items: flex-end;
	}
	.banner-left {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
	}
	.banner-text {
		margin-bottom: 40px;
	}
	.banner-title {
		margin-bottom: 20px;
		font-size: 40px;
		font-weight: bold;
		font-family: Roboto, serif;
		letter-spacing: 0;
		color: #FFFFFF;
	}
	.banner-lead {
		 font-size: 24px;
		 font-weight: 500;
		 font-family: Roboto;
		 margin-bottom: 40px;
		 line-height: 30px;
		 letter-spacing: 0;
		 color: #331A70;
		 max-width: 460px;
	}
}
.banner-slider {
	img {
		max-width: 390px;
		width: 100%;
	}
}
.apps-button-group {

	a {
		display: inline-block;
		margin: 5px 8px;
		img {
			max-width: 200px;
			width: 100%;
		}
	}
}

footer {
	padding: 10px 0;
	p {
		font-size: 14px;
		font-family: Roboto, serif;
		font-weight: 400;
		margin-bottom: 0;
		color: #fff;
	}
	background-color: #000000;
	ul {
		li {
			display: inline-block;
			padding: 0 5px;
			a {
				color: #fff;
				&:hover {
					color: #0F60A7;
				}
			}
		}
	}
}
@media (max-width: 1440px) {
	body {
		background-position-y: -60px !important;
	}
	.container {
		max-width: 1200px;
	}
	.banner-area {
		.banner-lead {
			margin-top: 110px;
		}
	}
}
@media (max-width: 1030px) {
	body {
		background-position-y: 0;
	}
	.text-blue-1024 {
		color: #331A70 !important;
	}
	.banner-slider img {
		max-width: 330px;
		width: 100%;
	}
	.banner-area {
		&.without-slider {
			min-height: 265px;
			display: flex;
			align-items: flex-end;
		}
		.banner-left {
			align-items: center;
		}
		.banner-text {
			margin-bottom: 0;
			margin-top: 125px;
		}
		.banner-title {
			margin-bottom: 30px;
			font-size: 36px;
		}
		.banner-lead {
			margin-top: 0;
			font-size: 16px;
			color: #331A70;
			max-width: 400px;
			line-height: 20px;
		}
	}
	.apps-button-group a img {
		max-width: 160px;
		width: 100%;
	}
	.section-title {
		h2 {
			font-size:25px;
		}
		p {
			font-size: 18px;
		}
	}
}
@media (min-width: 992px) {
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: 20px;
		padding-left: 20px;
	}
}
@media (max-width: 768px) {
	.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
		color: #fff;
		font-weight: 400;
	}
	.navbar-light .navbar-nav .nav-link {
		font-weight: 400;
	}
	.navbar-nav {
		margin-top: 15px;
	}
	.navbar {
		.navbar-collapse.collapse {
			a {
				color: #fff;
			}
		}
	}
	.banner-area {
		min-height: 470px;
		&.without-slider {
			min-height: 180px;
			display: flex;
			align-items: flex-end;
		}
		.banner-left {
			align-items: center;
		}
		.banner-text {
			margin-top: 40px;
			margin-bottom: 0;
			.banner-title {
				margin-bottom: 50px;
				font-size: 36px;
			}
			.banner-lead {
				margin-top: 0;
			}
		}
		.banner-slider {
			img {
				max-width: 260px;
				width: 100%;
			}
		}
		.apps-button-group a img {
			max-width: 140px;
			width: 100%;
		}
	}
	.text-blue-768 {
		color: #331A70 !important;
	}
	.text-white-768 {
		color: #fff !important;
	}
}
@media (max-width: 767px) {
	.w-100-767 {
		width: 100%;
	}
	body {
		position: relative;
		background: url(../images/mobilebckgrnd.png) no-repeat;
		background-size: cover;
		background-position-y: 0;
		&.mini-bg {
			background: url(../images/mobilebckgrnd.png) no-repeat;
			background-position-y: 0;
			background-size: cover;
		}
	}
	.navbar {
		padding: 15px 15px;
		background: transparent linear-gradient(290deg, #1275CB 0%, #000000 100%) 0% 0% no-repeat padding-box;
		.navbar-toggler {
			padding: 15px 0 15px 15px;
			color: #fff;
			span {
				background-image: none;
			}
		}
	}
	.banner-area {
		text-align: left;
		&.without-slider {
			min-height: auto;
			display: flex;
			align-items: flex-end;
		}
		.banner-text {
			margin-top: 15px;
			margin-bottom: 0;
			.banner-title {
				margin-bottom: 15px;
				font-size: 34px;
				color: #331A70;
			}
			.banner-lead {
				margin-bottom: 25px;
			}
		}
		.apps-button-group {
			text-align: center;
			a img {
				max-width: 120px;
				width: 100%;
			}
		}
	}
	.banner-slider img {
		max-width: 260px;
		width: 100%;
		margin-top: 40px;
	}
}
@media (max-width: 375px) {
	.banner-area {
		.banner-lead {
			margin-bottom: 10px;
		}
		.apps-button-group {
			text-align: center;a img {
			max-width: 90px;
			width: 100%;
		}
			.banner-slider img {
				max-width: 240px;
				width: 100%;
				margin-top: 15px;
			}
		}
	}
}
@media (max-width: 325px) {
	.banner-area {
		.banner-lead {
			margin-bottom: 10px;
		}
		.apps-button-group {
			text-align: center;
			a img {
				max-width: 90px;
				width: 100%;
			}
			.banner-slider img {
				max-width: 180px;
				width: 100%;
				margin-top: 15px;
			}
		}
	}

}
